<meta charset="UTF-8">
<link th:href="'https://fonts.googleapis.com/css?family=' + ${fonts}" rel="stylesheet">
<link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/apple-icon-57x57.png}">
<link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/apple-icon-60x60.png}">
<link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/apple-icon-72x72.png}">
<link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon-76x76.png}">
<link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/apple-icon-114x114.png}">
<link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/apple-icon-120x120.png}">
<link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/apple-icon-144x144.png}">
<link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/apple-icon-152x152.png}">
<link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/apple-touch-icon.png}">
<link rel="icon" type="image/png" sizes="192x192" th:href="@{/img/android-icon-192x192.png}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="96x96" th:href="@{/img/favicon-96x96.png}">
<link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon-16x16.png}">
<link rel="manifest" th:href="@{/img/manifest.json}">
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="../static/img/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>